/* importing colors */
@import "../vars.module.css";

:global(html),
:global(body) {
    margin: 0;
    padding: 0;
    /* background: var(--base00); */
    font-family: 'Montserrat', serif;
}

:global(*),
:global(* *) {
    box-sizing: border-box;
}

.app {
    display: grid;
    grid-gap: 1.2rem;
    margin: 1rem;
    padding: 1rem;
}

.scroll {
    max-width: 100%;
    overflow: auto;
}

/* .scaleSelector {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 3fr;
    align-items: center;
    grid-gap: 20px;
    height: 80px;
}

.center {
    text-align: center;
} */

.scaleFinder {
    text-align: right;
}

.scaleContainer section {
    padding: 10px;
}

.tunings {
    width: 200px;
    margin-left: 1rem;
}

.info {
    display: grid;
    grid-template-columns: 235px 365px 1fr;
    grid-gap: 10px;
}

@media only screen and (max-width: 800px) {
    .app {
        margin: 0;
        padding: 0;
    }

    .scaleSelector {
        padding: 10px;
        display: grid;
        grid-template-columns: 150px 1fr;
    }
}
