@import '../vars.module.css';

.chord {
    display: grid;
    grid-template-columns: 85px 10px 1fr;
    grid-gap: 10px;
    cursor: pointer;
}

.chordSeventh {
    grid-template-columns: 120px 10px 1fr;
}

.chord:hover {
    background: hsl(246, 100%, 97%);
    border-radius: 2px;
    box-shadow: 0px 0 3px hsl(246, 80%, 85%);
}

.chord:active,
.chord.active {
    background: var(--base01);
}

.chordNotes {
    text-align: right;
}
