@import '../vars.module.css';

.chord:hover {
    background: var(--base05);
    border-radius: 2px;
    box-shadow: 0px 0 3px var(--base14);
}

.chord:active,
.chord.active {
    background: var(--base07);
}

.chordNotes {
    text-align: right;
}
