@import '../vars.module.css';

.notes {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-size: 16px;
    min-width: 800px;
}

.notes25 {
    grid-template-columns: var(--fretNoteSizes);
    font-size: 16px;
    min-width: 1200px;
}

.note {
    text-align: center;
    line-height: 24px;
    background: white;
    color: var(--base01);
    box-shadow: 0 0 1px var(--base00);
}

.active {
    border: 1px solid var(--base11);
    background: var(--base11);
}

.zeroFret {
    background: var(--base15);
    color: var(--base06);
    border-right: 5px solid hsl(0, 59%, 40%);
    border-width: 0 5px 0 0;
}

.root {
    text-decoration: underline;
    font-weight: 600;
    border: 1px solid var(--base07);
    background: var(--base07);
    color: var(--base01);
}

.relative {
    border: 1px solid var(--base12);
    background: var(--base12);
}

.highlight {
    box-shadow: inset 0 0 4px 2px var(--base02);
}

.zeroFret,
.zeroFret.root,
.zeroFret.relative,
.zeroFret.highlight {
    border-right: 5px solid hsl(0, 59%, 40%);
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background: var(--base05);
}

.active.clickable:hover {
    background: var(--base05);
}

.relative.clickable:hover {
    background: var(--base13);
}

.root.clickable:hover {
    background: var(--base12);
}
